<div class="form-zona">
  <div id="titu">
    <h1>{{ edicion ? 'Modificar Tipo de Enfermedad' : 'Registro de Tipos de Enfermedad' }}</h1>
  </div>

  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <!-- Campo ID (solo si está editando) -->
      <mat-form-field *ngIf="edicion" appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput formControlName="idTipoE" />
        <mat-error *ngIf="form.get('idTipoE')?.hasError('required')">
          El ID es obligatorio para actualizar.
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Campo nombre del tipo -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre del tipo de enfermedad</mat-label>
        <input matInput formControlName="nombreTipoE" />
        <mat-error *ngIf="form.get('nombreTipoE')?.hasError('required')">
          El nombre del tipo de enfermedad es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <div class="boton-centro">
        <button matButton="filled">Registrar</button>
      </div>
    </form>
  </div>
</div>
