<div class="fondo">
  <div class="Listado-qw"><h2>Listado de Cantidad de usuarios Notificados por brotes</h2></div>
  <div class="container">
    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">      
      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID Notificacion</th>
        <td mat-cell *matCellDef="let element">{{ element.id_notificacion }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Titulo Notificacion</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo_Notificacion }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Cantidad de Usuarios</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad_UsuariosNotificados }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-celeste"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- Paginador -->
    <mat-paginator #paginator1
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  showFirstLastButtons
                  aria-label="Select page">
    </mat-paginator>
  </div>

  <!--Qwr2-->

  <div class="Listado-qw"><h2>Listado de Cantidad de contagios por Tipo de Transmision</h2></div>
  <div class="container">
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">      
      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID Transmision</th>
        <td mat-cell *matCellDef="let element">{{ element.id_tipotransmision }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Nombre Transmision</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre_transmision }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Cantidad de Contagios</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad_contagios }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-celeste"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- Paginador -->
    <mat-paginator #paginator2 
                  [pageSize]="4"
                  [pageSizeOptions]="[4, 12, 26, 100]"
                  showFirstLastButtons
                  aria-label="Select page">
    </mat-paginator>
  </div>
</div>
