.Listado-Rol {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 1.4rem;
  font-weight: bold;
}
 

.fondo {
  height: 100vh;         
  padding: 21px;
}
.container{
    width: 70%;
}
.boto {
  padding: 12px 24px;
  margin-top: 40px;
  margin-left: 14%;
  border-radius: 8px;
  background-color: rgb(10, 19, 113);
  color: white;
  border: none;
}
.boto:hover{
  background-color: rgb(88, 94, 163);
    
}
