<div class="form-enfermedad">
  <div id="titu">
    <h1>{{ edicion ? 'Modificar Enfermedad' : 'Registro de Enfermedades' }}</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <!-- ID: solo mostrar en modo edición -->
    <mat-form-field appearance="fill" *ngIf="edicion">
      <mat-label>ID</mat-label>
      <input matInput formControlName="codigo" placeholder="Código">
      <mat-error *ngIf="form.get('codigo')?.invalid">El código es obligatorio para actualizar, brindar un código</mat-error>
    </mat-form-field>
    <br />

    <!-- Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Nombre">
      <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
        El nombre de la enfermedad es obligatorio
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Descripción -->
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion" placeholder="Descripción"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.invalid">
        La descripción es obligatoria
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Tipo de Enfermedad -->
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Enfermedad</mat-label>
      <mat-select formControlName="tipoEnfermedad">
        <mat-option *ngFor="let tipo of tipoEnfermedad" [value]="tipo.idTipoE">
          {{ tipo.nombreTipoE }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tipoEnfermedad')?.touched && form.get('tipoEnfermedad')?.invalid">
        Seleccione un tipo de enfermedad
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Tipo de Transmisión -->
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Transmisión</mat-label>
      <mat-select formControlName="tipoTransmision">
        <mat-option *ngFor="let trans of tipoTransmision" [value]="trans.idTipoT">
          {{ trans.transmision }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tipoTransmision')?.touched && form.get('tipoTransmision')?.invalid">
        Seleccione un tipo de transmisión
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Botón de acción -->
    <button mat-raised-button color="primary" type="submit">
      {{ edicion ? 'Actualizar' : 'Registrar' }}
    </button>
  </form>
</div>
