<div class="fondo">

  <div class="Listado-qw">
    <h2>Lista de Prevenciones</h2>
  </div>

  <div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID Prevención -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idPrevencion }}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcionPrevencion }}</td>
      </ng-container>

      <!-- Tipo de Enfermedad -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Tipo de Enfermedad</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoEnfermedad.nombreTipoE }}</td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="['/prevenciones/editar', element.idPrevencion]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminar(element.idPrevencion)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Encabezado -->
      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"
          style="background-color: #72D7F3; color: black; font-weight: bold;">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginador -->
    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>

</div>
