.fondo {
  padding: 24px;
  background-color: #c8f1f9;
  min-height: 100vh;
}
.mapa-contenedor {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.mapa-estilo {
  width: 90%;
  max-width: 800px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.titulo-saludo {
  background-color: #9ad8e7;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
}

.titulo-notificaciones {
  background-color: #cdf5ff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  padding-left: 7%;
}

.titulo-vacio {
  background-color: #ffe6e6;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  margin-top: 24px;
  font-style: italic;
}

.contenedor-tabla {
  border-radius: 8px;
  padding: 16px;
  width: 87%;
  margin: 0 auto;
}

.tabla-estilizada {
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
}

.header-celeste {
  background-color: #72D7F3;
  font-weight: bold;
}

th, td {
  padding: 8px;
  text-align: left;
}
