 <div class="form-tiposTrasmision">
  <div id="titulo"><h1>{{edicion ? 'Modificar tipo de transmisión': 'Registro de tipo de transmisión'}}</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field  *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio para actualizar, brindar un código
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Transmision</mat-label>
        <input matInput formControlName="transmision" />
        <mat-error *ngIf="form.get('transmision')?.hasError('required')">
          El tipo de trasmisión es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <button matButton="filled">Registrar</button>
    </form>
  </div>
</div>
