<div class="formulario-container">
    <div class="title" style="text-align: center;">
    <h1>Cantidad de enfermedades por transmision por provincia</h1>
  </div>
  
  <form (ngSubmit)="buscarPorProvincia()">
    <mat-form-field appearance="fill">
      <mat-label>Provincia</mat-label>
      <input
        matInput
        [(ngModel)]="provincia"
        name="provincia"
        placeholder="Ingrese una provincia"
        required
      />
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Buscar</button>
  </form>
  <div *ngIf="hasData">
     
    <!-- <h2>Cantidad de enfermedades por transmision por provincia</h2> -->

    <p *ngIf="hasData" class="leyenda">
      Resultados para la provincia: <strong>{{ provincia }}</strong>
    </p>
  </div>

  <!-- Gráfico -->
  <div *ngIf="hasData">
    <canvas
      baseChart
      [data]="barChartData"
      [type]="barChartType"
      [options]="barChartOptions"
      [legend]="barChartLegend"
    ></canvas>
  </div>

  <!-- Mensaje si no hay resultados -->
  <div *ngIf="!hasData && fueBuscado">
    <p class="mensaje-error">
      No se encontraron resultados para la provincia ingresada.
    </p>
  </div>
</div>
