<mat-toolbar class="custom-toolbar">
 
 
 <button routerLink="/verinicio" class="logo">
    <img src="logo.png" alt="BrotesApp Logo" class="logo-img">
    BrotesApp
  </button>
  <span class="spacer"></span>

  <a href="#acerca">
    <button mat-button class="btn-rojo">Acerca</button>
  </a>
  <a href="#misionvision">
    <button mat-button class="btn-rojo">Misión y Visión</button>
  </a>
  <a href="#testimonios">
    <button mat-button class="btn-rojo">Testimonios</button>
  </a>
  <a href="#contacto">
    <button mat-button class="btn-rojo">Contacto</button>
  </a>

  <div>
    <button mat-button class="btn-Inicio" routerLink="/pantalla-login/verpantalla-login">
    Iniciar Sesión
    </button>
  </div>