<div class="fondo">
  <div class="titulo-formulario">
    <h1>Registro de Brotes</h1>
  </div>

  <form [formGroup]="form" (submit)="aceptar()" class="formulario-centrado">
    <mat-form-field *ngIf="edicion" appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput formControlName="codigo" />
      <mat-error *ngIf="form.get('codigo')?.hasError('required')">
        El código del área es obligatorio para actualizar.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="pickerInicio" formControlName="fechain" />
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error *ngIf="form.get('fechain')?.hasError('required')">
        La fecha de inicio es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fechafin" />
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
      <mat-error *ngIf="form.get('fechafin')?.hasError('required')">
        La fecha fin es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contagio relacionado</mat-label>
      <mat-select formControlName="conta">
        <mat-option *ngFor="let contagio of listaContagios" [value]="contagio.idContagio">
          ID: {{ contagio.idContagio }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('conta')?.hasError('required')">
        Seleccionar un contagio es obligatorio.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Registrar</button>
  </form>
</div>
